<body class="homepage">
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center bootstrap-welcome">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    height="150px" viewBox="0 0 792 612" enable-background="new 0 0 792 612" xml:space="preserve">
<g>
  <g>
    <path fill="#FFFFFF" d="M723.006,49.086c-0.407-2.779-1.875-5.242-4.002-7.016c-0.055-0.046-0.113-0.083-0.169-0.129
      c-0.359-0.288-0.706-0.613-1.104-0.866c-0.028-0.019-0.243-0.148-0.38-0.231c-0.039-0.028-0.074-0.064-0.121-0.083
      c0,0-13.473-8.065-15.182-9.058c-0.009,0-0.009-0.009-0.009-0.009c-0.01,0-0.01,0-0.01-0.009c-0.019-0.01-0.029-0.01-0.046-0.02
      C657.506,5.899,631.779,1.738,587.434,1.738c-62.727,0-102.167,18.434-126.898,43.241c-18.603-3.661-39.174-5.492-61.88-5.492
      h-4.581c-22.968,0-43.751,1.867-62.52,5.575C306.832,20.208,267.371,1.738,204.571,1.738c-44.357,0-70.085,4.161-114.625,29.965
      h-0.009c-1.729,1.003-15.165,9.05-15.165,9.05c-0.045,0.029-0.074,0.067-0.119,0.083c-0.139,0.083-0.353,0.212-0.382,0.231
      c-0.398,0.25-0.744,0.567-1.106,0.865c-0.055,0.046-0.112,0.083-0.167,0.129c-2.127,1.774-3.596,4.237-4.004,7.017
      c-13.917,94.602,24.39,150.59,120.516,176.188c0.716,0.203,3.568,1.152,6.764,2.229c-0.353,7.305-0.558,14.791-0.558,22.561v6.661
      c0,32.156,14.579,65.875,32.14,97.148c-46.084,39.292-68.747,102.721-68.747,192.15v7.674h22.699v-7.674
      c0-4.561,0.157-8.927,0.27-13.33c1.979-73.773,20.598-125.749,57.457-158.907c2.834-2.547,5.769-4.991,8.817-7.322
      c3.002-2.294,6.077-4.517,9.291-6.598c8.548-5.528,17.877-10.285,27.938-14.354c2.788-1.126,5.509-2.305,8.409-3.326l3.799-1.327
      c15.888-5.512,36.105-12.611,51.436-27.911c13.137-13.121,22.698-32.241,22.698-61.779v-41.281h-0.362
      c-1.004-29.276-8.493-51.547-22.671-66.934c-16.138-17.504-40.842-26.202-74.496-26.202h-2.024
      c-7.703,0-14.894,0.494-21.667,1.393c17.02-23.479,41.085-39.172,72.917-47.822c7.636-2.073,15.759-3.716,24.297-4.99
      c14.141-2.108,29.49-3.186,46.176-3.186h4.581c16.492,0,31.648,0.992,45.601,2.964c8.614,1.219,16.772,2.814,24.456,4.822
      c32.639,8.53,56.974,24.287,73.92,48.343c-7.136-1.023-14.791-1.534-22.975-1.534h-2.026c-33.652,0-58.358,8.697-74.496,26.202
      c-14.179,15.387-21.668,37.658-22.67,66.935h-0.363v41.28c0,29.536,9.551,48.658,22.7,61.778
      c15.318,15.293,35.539,22.402,51.435,27.91l3.801,1.329c2.898,1.012,5.621,2.19,8.408,3.314
      c9.915,4.015,19.112,8.697,27.558,14.124c3.213,2.072,6.299,4.273,9.309,6.559c3.056,2.322,6.012,4.748,8.854,7.292
      c37.081,33.144,55.792,85.212,57.78,159.196c0.12,4.415,0.272,8.77,0.272,13.344v7.673h22.696v-7.673
      c0-89.678-22.772-153.222-69.106-192.488c17.719-31.606,32.5-65.456,32.5-96.823v-6.661c0-7.767-0.214-15.258-0.557-22.56
      c3.195-1.079,6.029-2.015,6.717-2.211C698.618,199.677,736.926,143.689,723.006,49.086z M615.964,197.466
      c-2.155-20.125-7.815-36.505-17.188-49.039V24.549c34.86,0.809,56.182,6.086,91.87,26.767c0.326,0.186,1.664,0.985,3.634,2.166
      c1.874,1.125,4.318,2.583,6.996,4.19C710.612,130.949,684.728,173.783,615.964,197.466z M576.086,24.697v104.285
      c-0.65-0.353-1.301-0.706-1.961-1.05c-17.68-37.322-46.222-62.27-86.594-75.901C514.292,32.23,548.343,25.939,576.086,24.697z
       M90.724,57.671c5.408-3.243,10.026-6.002,10.648-6.365l0.009-0.009c35.669-20.655,56.993-25.932,91.834-26.75v123.878
      c-9.365,12.534-15.024,28.905-17.18,49.029C107.272,173.783,81.394,130.94,90.724,57.671z M215.914,128.979V24.695
      c27.79,1.244,61.907,7.562,88.684,27.437c-40.354,13.641-68.904,38.53-86.614,75.743
      C217.288,128.229,216.601,128.6,215.914,128.979z M186.161,219.709L186.161,219.709h10.565h0.622v-2.964
      c0-0.288,0.02-0.548,0.02-0.837c0.009-2.303,0.083-4.523,0.176-6.718c0.344-8.223,1.292-15.656,2.845-22.336
      c1.087-4.71,2.461-9.086,4.171-13.054c2.871-6.651,6.642-12.284,11.345-16.937c1.421-1.403,2.907-2.75,4.497-3.978
      c4.441-3.438,9.626-6.15,15.461-8.268c10.035-3.642,22.085-5.445,36.469-5.445h2.024c50.637,0,73.243,21.612,74.84,71.783v8.762
      v10.722v20.765c0,41.188-22.195,54.586-46.827,63.923c-3.957,1.496-7.989,2.908-12.015,4.306l-3.875,1.345
      c-14.745,5.167-28.088,11.728-40.241,19.504c-15.432-27.875-27.828-57.133-27.828-83.557v-6.662
      c0-10.629,0.382-20.71,1.078-30.354h-3.734h-7.646h-11.382H186.161z M595.281,219.709h-11.373h-7.665h-3.669
      c0.659,9.644,1.01,19.725,1.01,30.354v6.662c0,25.708-12.624,55.087-28.245,83.303c-12.04-7.654-25.243-14.131-39.82-19.252
      l-3.873-1.347c-4.023-1.394-8.057-2.808-12.045-4.32c-24.639-9.336-46.827-22.734-46.827-63.923v-20.757v-10.723v-8.761
      c1.598-50.171,24.213-71.785,74.843-71.785h2.023c14.828,0,27.167,1.924,37.378,5.788c5.528,2.1,10.479,4.729,14.728,8.046
      c1.533,1.197,2.954,2.5,4.329,3.857c4.71,4.665,8.474,10.285,11.352,16.946c1.748,4.042,3.142,8.502,4.238,13.314
      c1.505,6.597,2.434,13.909,2.778,21.992c0.093,2.221,0.176,4.469,0.185,6.8c0,0.289,0.021,0.548,0.021,0.837v2.964h0.634h10.562
      l0,0h-10.562V219.709z"/>
    <path fill="#FFFFFF" d="M540.602,392.153c-2.787-2.623-5.648-5.169-8.656-7.554c-2.166-1.72-4.389-3.373-6.664-4.981l-1.699-3.065
      c-0.289,0.456-0.576,0.919-0.856,1.377c-21.61-14.513-48.221-23.944-79.95-28.33c-7.294-1.011-14.855-1.746-22.698-2.229
      c-7.089-0.436-14.374-0.677-21.909-0.677h-4.338c-7.536,0-14.819,0.241-21.909,0.677c-7.832,0.472-15.404,1.219-22.698,2.229
      c-31.878,4.402-58.6,13.898-80.258,28.532c-0.251-0.398-0.501-0.797-0.751-1.197l-1.488,2.684
      c-2.377,1.673-4.701,3.409-6.949,5.203c-3,2.398-5.853,4.95-8.631,7.584c-25.949,24.536-42.182,59.062-48.881,103.781
      c-2.37,15.804-3.596,32.824-3.596,51.188v6.327h22.699l0,0v-6.327c0-61.909,13.462-106.544,42.016-135.644
      c2.694-2.742,5.546-5.326,8.501-7.787c2.897-2.417,5.909-4.738,9.076-6.896c27.447-18.72,64.779-27.658,112.877-27.658h4.348
      c47.962,0,85.22,8.89,112.647,27.512c3.169,2.146,6.188,4.451,9.096,6.864c2.973,2.465,5.824,5.046,8.53,7.787
      c28.669,29.092,42.198,73.781,42.198,135.819v6.327l0,0h22.698v-6.327c0-18.363-1.226-35.384-3.596-51.188
      C583.017,451.319,566.71,416.708,540.602,392.153z"/>
    <path fill="#FFFFFF" d="M508.38,422.917c-2.853-2.521-5.843-4.896-8.976-7.137c-17.604-12.553-39.607-20.625-66.076-24.308
      c-6.896-11.438-19.328-17.364-36.923-17.364h-0.789c-17.598,0-30.03,5.927-36.925,17.364c-26.535,3.679-48.573,11.79-66.208,24.4
      c-3.132,2.238-6.122,4.618-8.974,7.135c-2.937,2.602-5.715,5.359-8.362,8.258c-24.12,26.453-36.059,65.456-36.059,117.432v4.989
      l0,0h20.581l0,0v-4.989c0-42.522,8.149-74.605,25.272-97.184c2.582-3.402,5.378-6.579,8.371-9.55
      c2.796-2.781,5.778-5.37,8.938-7.777c13.397-10.204,30.084-17.105,50.255-20.908c-0.112,1.646-0.167,3.347-0.167,5.093v1.152
      c0,5.155,0.494,9.857,1.432,14.141c-18.108,4.327-32.882,11.984-44.515,22.845c-1.198,1.117-2.436,2.201-3.568,3.391
      c-0.028,0.032-0.046,0.056-0.073,0.086c-19.002,20.031-28.413,49.913-28.413,90.024v3.688l0,0h19.995
      c13.974,37.898,46.215,56.564,97.669,56.564h2.249c51.453,0,83.694-18.666,97.669-56.564h19.983l0,0v-3.688
      c0-41.572-10.137-72.128-30.55-92.143c-0.045-0.039-0.093-0.074-0.128-0.119c-0.252-0.244-0.521-0.467-0.771-0.696
      c-11.727-11.149-26.693-18.974-45.1-23.375c0.938-4.285,1.431-8.984,1.431-14.145v-1.148c0-1.75-0.063-3.445-0.169-5.093
      c20.163,3.799,36.85,10.693,50.248,20.897c3.16,2.407,6.141,4.996,8.938,7.775c3.03,3.012,5.864,6.224,8.475,9.673
      c17.078,22.568,25.188,54.622,25.188,97.073v4.991l0,0h20.58l0,0v-4.991c0-52.042-11.966-91.08-36.16-117.541
      C514.104,428.276,511.326,425.519,508.38,422.917z M459.369,569.967c-13.704,12.803-34.088,18.807-62.24,18.807h-2.25
      c-28.152,0-48.528-6.004-62.233-18.807h-0.167c0.029-0.025,0.065-0.043,0.094-0.074c8.585-7.998,20.105-13.33,34.608-16.191
      c5.807-1.144,12.089-1.918,18.89-2.252c2.881-0.137,5.752-0.283,8.815-0.283h2.252c3.065,0,5.936,0.146,8.815,0.283
      c6.8,0.334,13.084,1.108,18.889,2.252c14.505,2.861,26.024,8.193,34.609,16.191c0.027,0.031,0.056,0.049,0.083,0.074H459.369z
       M297.796,553.707v-3.688c0-12.135,0.931-22.995,2.714-32.779c1.013-5.575,2.351-10.747,3.975-15.59
      c6.718-20.022,18.656-33.877,36.581-42.146c6.625-3.052,14.094-5.33,22.373-6.912c2.609,2.655,5.686,4.833,9.199,6.553
      c3.92,1.924,8.399,3.251,13.417,3.984v38.521v28.342c-28.487,1.253-50.312,8.656-66.117,22.453
      c-0.482,0.431-0.994,0.831-1.467,1.257h-9.804h-10.87v0.006H297.796z M317.938,569.979L317.938,569.979L317.938,569.979
      L317.938,569.979z M473.529,553.707c-0.474-0.436-0.985-0.834-1.467-1.265c-15.803-13.797-37.629-21.2-66.116-22.453v-28.342
      v-38.521c5.463-0.789,10.258-2.323,14.422-4.525c3.084-1.635,5.843-3.613,8.191-6.012c7.127,1.356,13.642,3.243,19.531,5.696
      c19.492,8.103,32.362,22.31,39.422,43.362l0,0c1.625,4.843,2.954,10.026,3.977,15.603c1.783,9.779,2.714,20.634,2.714,32.762
      v3.688h-10.871h-9.803V553.707L473.529,553.707z"/>
    <path fill="#FFFFFF" d="M282.727,252.386h0.78c21.574,0,32.76-9.589,33.272-32.677c0.009-0.548,0.045-1.068,0.045-1.636v-1.143
      c0-24.241-11.223-34.322-33.317-34.322h-0.78c-22.095,0-33.318,10.081-33.318,34.322v1.143c0,0.565,0.038,1.088,0.045,1.636
      C249.964,242.796,261.142,252.386,282.727,252.386z"/>
    <path fill="#FFFFFF" d="M509.282,182.609h-0.78c-22.094,0-33.319,10.081-33.319,34.322v1.143c0,0.565,0.037,1.088,0.045,1.636
      c0.513,23.089,11.697,32.677,33.272,32.677h0.78c21.583,0,32.76-9.589,33.271-32.677c0.009-0.548,0.044-1.068,0.044-1.636v-1.143
      C542.598,192.689,531.377,182.609,509.282,182.609z"/>
  </g>
</g>
</svg>

      <h1 class="h1lead" style="font-size: 25pt;">Want a personalized dashboard of your favorite places? </br>I got your back.</h1>
      <p class="lead">Whether you walk, drive, bike or take public transit, CAP lets you quickly view your travel time to and from your current location to your favorite places.</p>
      <a href="#" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
        Sign-Up Free
      </a>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign-Up!</h4>
      </div>

      <div class="modal-body">
          <div class="form-group">
            <%= bootstrap_form_for :user, :html => { :id=> "identicalForm"}, url: '/users' do |f| %>

             <%= f.text_field :name,autofocus: true, placeholder: 'Name', hide_label: true %>
           <%= f.text_field :email,  placeholder: 'Email', hide_label: true %>
           <%= f.password_field :password,  placeholder: 'Password' , hide_label: true, id:"password" %>
            <%= f.password_field :password_confirmation,  placeholder: 'Password confirmation', hide_label: true, id:"confirm_password" %>
            <%= f.submit "Submit",  class: 'btn btn-warning check' %>

          <% end %>

<script>


var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;



</script>





    </div>

  </div>
</div>
</body>