<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center bootstrap-welcome margin200px">
      <h1>Welcome to the Commuter Assistance Program</h1>
      <p class="lead">The Commuter Assistance Program, or CAP, is a one-stop-shop for your daily travel and tasks to determine your ETA. Use it on the go, at home, or at your local Starbucks to figure out how much time you'll need to get to where you're going.</p>
      <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Sign-Up Now!
      </a>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign-Up!</h4>
      </div>
    
      <div class="modal-body">
          <div class="form-group">
            <%= form_for :user, :html => { :class => "class_name_here"}, url: '/users' do |f| %>

            Name: <%= f.text_field :name %>
            Email: <%= f.text_field :email %>
            Password: <%= f.password_field :password %>
            Password Confirmation: <%= f.password_field :password_confirmation %>
            <%= f.submit "Submit" %>

          <% end %>


<!-- 

            <input type="text" name="name" placeholder="Name" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="email"placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" name="password"placeholder="Password" class="form-control">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Sign-Up!</button> -->
      <!-- </div -->
    </div>
  </div>
</div>
