<ul class="user-profiles-list-basic">

            <p>
                <a href=""><%=current_user['name']%>'s Locations</a>
            <%= bootstrap_form_for :location, :html => { :class => "location"}, url: '/locations' do |f| %>

              <%= f.text_field :location_name,autofocus: true, placeholder: 'Name of Location', hide_label: true %>
              <%= f.text_field :address,  placeholder: 'Address', hide_label: true %>
              <%# f.text_field :default_transport,  placeholder: 'Method of Transportation' , hide_label: true%>
              <select>
                  <option value="walking">Walking</option>
                  <option value="transit">Subway</option>
                  <option value="biking">Biking</option>
              </select>

              <%= f.password_field :password_confirmation,  placeholder: 'Password confirmation', hide_label: true %>
              <%= f.submit "Submit",  class: 'btn btn-warning' %>

            <% end %>

            </p>

        </li>
</ul>
