<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CAP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- google maps -->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

</head>
<body>

  <div class="navbar-wrapper">
    <div class="container">

      <nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0;">
        <div class="container">
          <a class="navbar-brand" href="/eta">CAP</a>
          <div class="navbar-form navbar-right">
            <% if current_user %>
              <h5>
                Hi <%= current_user['name'] %>!
                <a id="logout" href="/logout">Logout</a>
              </h5>
            <% else %>
              <a href="#" class="nav-link" data-toggle="modal" data-target="#signUp">
                Sign Up Free
              </a><span class="nav-link">|</span>
              <a href="#" class="nav-link" data-toggle="modal" data-target="#signIn" >Sign-In</a>
            <% end %>
          </div>
        </div>
      </nav>
  <div class="container" style="margin-left: 0; ">
   <% flash.each do |key, value| %>
  <div style="margin-right: 26px; " class="alert alert-info">
   <a href="#" data-dismiss="alert" class="close">×</a>
     <ul  style="list-style: none ;">
       <li style= "list_style: none;">
       <%= value %>
        </li>
       </ul>
  </div>
  <% end %>
  </div>

      <%= yield %>

    </div>
  </div>
  <div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign-Up</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= bootstrap_form_for :user, :html => { :class => "class_name_here"}, url: '/users' do |f| %>

            <%= f.text_field :name,autofocus: true, placeholder: 'Name', hide_label: true %>
            <%= f.text_field :email,  placeholder: 'Email', hide_label: true %>
            <%= f.password_field :password,  placeholder: 'Password' , hide_label: true%>
            <%= f.password_field :password_confirmation,  placeholder: 'Password confirmation', hide_label: true %>
            <%= f.submit "Submit",  class: 'btn btn-warning' %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign-In</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= bootstrap_form_tag url: '/login', :html => {:autocomplete => "off"} do |f| %>
            <%= f.text_field :email, placeholder: 'Email', hide_label: true, autofill: false %>
            <%= f.password_field :password, placeholder: 'Password', hide_label: true, class: 'form-control'%>
            <div class="modal-footer">
              <%= submit_tag "Submit", class: 'btn btn-warning' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>